@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
        font-family: "Noto Sans Mono", monospace;
    font-style: normal;
}

body{
    color: white;
    text-align: center;
    background-color: rgb(48, 29, 133);

}


h1{
    font-size: 3rem;
    margin-top: 2rem;
}

#search{
    border-radius: 0.8rem;
    width: 25vw;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
}

#searchBtn{
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
}



.search-section{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
    margin: 1rem;
}

.future-forecast{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.futureElm, .current-temp{
    border: 2px solid black;
    border-radius: 0.8rem;
    color:black;
    background-color: white;
}

svg{
    width:30px;
    height: 30px;
    fill: white;
    margin-right: 1rem;
}