@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
        font-family: "Noto Sans Mono", monospace;
    font-style: normal;
}

body{
    color: white;
    text-align: center;
    background-color: rgb(21 43 88);

}


h1{
    font-size: 3rem;
}


svg{
    width:30px;
    height: 30px;
    fill: white;
    margin-right: 1rem;
}

#search{
    border-radius: 0.8rem;
    width: 25vw;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
}

#searchBtn{
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
}


.logo{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.logo > img{
    max-width: 100px;
    max-height: 100px;
}

.search-section{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
    margin: 1rem;
}

#weather-data{
    padding: 3rem;
}

.weather-heading{
    display:flex;
    align-items: center;
    gap: 2rem;
}

.weather-address,.current-temp{
    font-size: 2rem;
}

.future-forecast{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
    gap: 2rem;
}


.todays-temp{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.futureElm, .temperature{
    border: 2px solid black;
    border-radius: 0.8rem;
    color:black;
    background-color: white;
}

.temperature{
    padding: 1rem;
}


.misc-info{
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

.misc-info > div{
    padding: 5rem;
    border: 2px solid black;
}