@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    color: white;
    text-align: center;
    background-color: rgb(21 43 88);
    font-family: "Noto Sans Mono", monospace;
    font-style: normal;
}


h1{
    font-size: 3rem;
}


svg{
    width:30px;
    height: 30px;
    fill: white;
    margin-right: 1rem;
}

#search{
    border-radius: 0.8rem;
    width: 25vw;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
}

#searchBtn{
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
}


.logo{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.logo > img{
    max-width: 100px;
    max-height: 100px;
}

.search-section{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
    margin: 1rem;
}

#weather-data{
    padding: 0rem 3rem 0.8rem;

}

.weather-heading{
    display:flex;
}

.weather-address,.current-temp{
    font-size: 2rem;
}



.todays-temp{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 0.5rem;
    min-height: 200px;
    margin: 1rem 0;
    
}

.futureElm, .temperature{
    border: 2px solid black;
    border-radius: 0.8rem;
    color:black;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.temperature{
    padding: 1rem;
    font-size:1.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.temperature> div:nth-child(2){
    font-size: 3rem;
}


.misc-info{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    font-size: 1.2rem;
    justify-content: space-between;
}

.misc-info > div{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.future-forecast{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    
}

.next-day{
    border: 2px solid black;
    border-radius: 0.8rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    min-height: 200px;
}

.next-day>div:first-child{
    font-size:1.3rem;
}